PORT=3333
FRONTEND_URL=http://localhost:5173
PUBLIC_BACKEND_URL=https://prance-mummified-subscript.ngrok-free.dev

NGROK_AUTHTOKEN=COLE_SEU_TOKEN_NGROK_AQUI

VITE_API_URL=https://prance-mummified-subscript.ngrok-free.dev

VITE_FIREBASE_API_KEY=AIzaSyACXjL9_Wv4tNVeSziNYq6R2pTJ4W9nmpA
VITE_FIREBASE_AUTH_DOMAIN=forge-d690c.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://forge-d690c-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=forge-d690c
VITE_FIREBASE_STORAGE_BUCKET=forge-d690c.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=228686447773
VITE_FIREBASE_APP_ID=1:228686447773:web:8224a7561140e2813b0074
VITE_FIREBASE_MEASUREMENT_ID=G-Y1N1RNS3BX
